.logo-name {
  display: inline-block;
  vertical-align: middle;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 41.45px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.logo {
  margin-left: 54px;
  padding-right: 4.5px;
  margin-top: 29px;
  margin-bottom: 30px;
}
.nav-bar {
  display: inline-block;
  vertical-align: middle;

  margin-left: 69px;
}
.nav-bar-elements {
  display: inline-block;
  margin-right: 75px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

/* main section 1 image*/
.picture {
  width: 100%;
  object-fit: cover;
  background-image: url(/images/firstwidepic.png);
}
/* products */
.Titles {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 49px;
  color: rgba(58, 58, 58, 1);
}
.secondary-titles {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: rgba(102, 102, 102, 1);
}
/* Product list */
.Products {
  width: 1240px;
  height: 446px;
  font-size: 0;
  margin-left: auto;
  margin-right: auto;
}
.product-elements {
  display: inline-block;
  width: 285px;
  height: 446px;
  padding-right: 32px;
}
.nopadding {
  display: inline-block;
  width: 285px;
  height: 446px;
  font-size: 0;
  padding-right: none;
}

.text-container {
  width: 285px;
  height: 145px;
  top: 301px;
  gap: 0px;
  opacity: 0px;
  background-color: rgba(244, 245, 247, 1);
}
.main-dscrptn {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-top: 10px;
}
.dscrptn {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(137, 137, 137, 1);
  padding-left: 16px;
}
/* browse the range */
.browse {
  margin-bottom: 62.29px;
}
/* rooms */
.rooms {
  height: 630px;
  width: 1203px;
  margin-left: auto;
  margin-right: auto;
}
.room-elements {
  display: inline-block;
  padding-right: 20px;
}
.room-titles {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}
/* Description */
.third-section-title {
  margin-bottom: 37px;
}

.dscrptn-dscrptn {
  color: rgba(0, 0, 0, 1);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  margin-left: 197px;
}
.additional-info {
  color: rgba(159, 159, 159, 1);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  padding-left: 56px;
  margin-top: 133px;
}
.text {
  color: rgba(159, 159, 159, 1);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justified;
  width: 1026px;
  height: 48px;
  top: 1991px;
  left: 194px;
  margin-left: 197px;
}

.text2 {
  margin-top: 30px;
  color: rgba(159, 159, 159, 1);
  width: 1026px;
  height: 96px;
  top: 2069px;
  left: 194px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justified;
  margin-left: 197px;
  margin-bottom: 36px;
}
.images {
  width: 1239px;
  height: 348px;
  margin-left: auto;
  margin-right: auto;
}
.sofa {
  padding-left: 29px;
  display: inline-block;
}
/* line */
.line {
  margin-top: 150px;
  background-color: rgba(250, 243, 234, 1);
  margin-left: auto;
  margin-right: auto;
  padding: 100px 53px 100px 53px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 48px;
}
.line-element {
  display: inline-block;
  margin-left: 78.67px;
  padding-left: 20px;
  gap: 0px;
  opacity: 0px;
}
.line-element-text-mn {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  line-height: 37.5px;
  text-align: left;
  color: rgba(36, 36, 36, 1);
}
.line-element-text {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: rgba(137, 137, 137, 1);
}

/* footer */
.funiro {
  color: black;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}
.map {
  width: 285px;
  height: 72px;
  top: 134px;
  left: 102.01px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-justify: auto;
  color: rgba(159, 159, 159, 1);
}
.footer {
  width: 1440px;
  height: 505px;
  top: 2969px;
  gap: 0px;
  opacity: 0px;

  padding-top: 48px;
  padding-left: 100px;
  padding-right: 565px;
  padding-bottom: 145px;
  font-size: 0;
}

.footer1 {
  display: inline-block;
  width: auto;
  vertical-align: top;

  padding-right: 136px;
}
.footer-elements {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 45px;
}

.sctn-hdln {
  color: rgba(159, 159, 159, 1);
  font-family: Poppins;
  padding-bottom: 55px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

/* Contact Page  */
.headline-text {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-top: 98px;
}
.headline-description {
  margin-left: auto;
  margin-right: auto;
  width: 644px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 128px;
  color: rgba(159, 159, 159, 1);
}

.container1 {
  display: inline-block;
  vertical-align: middle;
}
.interactive-map {
  width: 680px;
  height: 374px;
  gap: 0px;
  opacity: 0px;
  padding-left: 257px;
}

.info {
  display: inline-block;
  vertical-align: top;
  margin-left: 82px;
  margin-right: auto;
}

.satauri {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  margin-top: 15px;
}
.meore {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 212px;
  height: 72px;
  top: 807px;
  padding-top: 15px;
}
.title-handmade {
  width: 632px;
  height: 45px;
  top: 1262px;
  left: 88px;
  margin-left: 88px;
  margin-right: 720px;
  margin-top: 137px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
}
.info-handmade {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: justified;
  width: 817px;
  height: 115px;
  top: 1319px;
  left: 88px;
  gap: 0px;
  opacity: 0px;
  color: rgba(159, 159, 159, 1);
  margin-top: 12px;
  margin-left: 88px;
  margin-bottom: 30px;
}
.read-more {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justified;
  margin-left: 88px;
  text-decoration: underline;
}
